
<appSettings>
  
<!-- SETTINGS PER DFLEET_GLOBAL-->
  
  <!-- KEYS per array associativi -->
  <add key="TokenPayloadKey" value="tokenPayload"/>
  <add key="TokenKey" value="token"/>
  <add key="TokenUsernameKey" value="tokenUsername"/>
  <add key="TokenRolesKey" value="tokenRoles"/>
  <add key="TokenUidTenantKey" value="TokenUidTenant"/>
  <add key="ProviderProxy_ON_Key" value="true"/>

  <!-- valori per il settings del JWT dall'applicazione -->
  <add key="JwtSettingsKey" value='{
      "Key": "8F1F11CB070800FBB5EE6AF19D6A1B6B5E6A1B6B5E6A1B6B5E6A1B6B5E6A1B6B",
      "Issuer": "D4M_Rest",
      "Audience": "D4M_Clients",
      "ExpirationSeconds": 3600,
      "KeyValidation": true,
      "IssuerValidation": true,
      "AudienceValidation": true,
      "UserKey": "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name",
      "RoleKey": "http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
     }' />

  <!-- valori per UserRoles: i ruoli ammessi dall'applicazione -->
  <add key="UserRolesKey" value='{
      "Default": "DFleetSystem",
      "RolesMap":{
      "Admin": "DFleetAdmin",
      "User": "DFleetUser",
      "Guest": "DFleetGuest",
      "System": "DFleetSystem",
      "Partner": "DFleetPartner",
      "Anonymous": "DFleetAnonymous"
      }
    }' />
 
  <!-- valori per Endpoints: tutti gli endpoint presenti nell'applicazione (e i ruoli assegnati) -->
  <add key="EndpointsKey" value='{
      "DefaultRole": "DFleetSystem",
      "EndpointsMap": {
        "/swagger": ["DFleetAnonymous"],
        "/api/account/abilitautente": ["DFleetAdmin"],
        "/api/account/disabilitautente": ["DFleetAdmin"],
        "/api/account/svuotacacheutenti": ["DFleetAdmin"],
        "/api/account/login": ["DFleetAnonymous"]
        }
      }'
    />

  <!-- FINE SETTINGS PER DFLEET_GLOBAL-->


</appSettings>

