<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="connection">
      <section name="Data" type="MultiDataConnection.HandlerConnessione, MultiDataConnection" />
    </sectionGroup>
    <sectionGroup name="apiaccount.provider">
      <section name="ApiAccountSection" type="BaseProvider.BaseServiceSection, BaseProvider" />
    </sectionGroup>
    <sectionGroup name="account.provider">
      <section name="AccountSection" type="BaseProvider.BaseServiceSection, BaseProvider" />
    </sectionGroup>
    <sectionGroup name="cars.provider">
      <section name="CarsSection" type="BaseProvider.BaseServiceSection, BaseProvider" />
    </sectionGroup>
    <sectionGroup name="comunicazioni.provider">
      <section name="ComunicazioniSection" type="BaseProvider.BaseServiceSection, BaseProvider" />
    </sectionGroup>
    <sectionGroup name="contratti.provider">
      <section name="ContrattiSection" type="BaseProvider.BaseServiceSection, BaseProvider" />
    </sectionGroup>
    <sectionGroup name="cron.provider">
      <section name="CronSection" type="BaseProvider.BaseServiceSection, BaseProvider" />
    </sectionGroup>
    <sectionGroup name="filetracciati.provider">
      <section name="FileTracciatiSection" type="BaseProvider.BaseServiceSection, BaseProvider" />
    </sectionGroup>
    <sectionGroup name="log.provider">
      <section name="LogSection" type="BaseProvider.BaseServiceSection, BaseProvider" />
    </sectionGroup>
    <sectionGroup name="login.provider">
      <section name="LoginSection" type="BaseProvider.BaseServiceSection, BaseProvider" />
    </sectionGroup>
    <sectionGroup name="multe.provider">
      <section name="MulteSection" type="BaseProvider.BaseServiceSection, BaseProvider" />
    </sectionGroup>
    <sectionGroup name="utilitys.provider">
      <section name="UtilitysSection" type="BaseProvider.BaseServiceSection, BaseProvider" />
    </sectionGroup>
    <sectionGroup name="dfleetException.provider">
      <section name="DFleetExceptionSection" type="BaseProvider.BaseServiceSection, BaseProvider" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <!--<add name="DFleetSQL" connectionString="Data Source=AZEUWDCREDINPDSQL01.database.windows.net; Initial Catalog=DFleet2023Test;User Id=ITSysAdmin; Password=D3lo1tt32020!;Max Pool Size=1000;" providerName="System.Data.SqlClient" />-->

    <add name="DFleetSQL" connectionString="Data Source=azeuwdfleetprdsql01.database.windows.net; Initial Catalog=dfleet;User Id=D4MsysAdmin; Password=Yert000110.!10; Encrypt=yes;" providerName="System.Data.SqlClient" />

    <add name="DFleetSQLInt" connectionString="Data Source=tcp:azeundfleetnpdsql01.database.windows.net,1433; Authentication=Active Directory Integrated; Database=DFleetReal; Min Pool Size=0; Max Pool Size=100;  Connect Timeout=15" providerName="System.Data.SqlClient" />
    <add name="DFleetSQLMembership" connectionString="Data Source=tcp:azeundfleetnpdsql01.database.windows.net,1433; Authentication=Active Directory Integrated; Initial Catalog=DFleetReal" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <connection>
    <Data>
      <add name="DFleetSQL" useWebConfigConnectionString="true" webConfigConnectionStringName="DFleetSQL" connectionStringValue="" providerType="1" crypted="false" />
    </Data>
  </connection>
  <apiaccount.provider>
    <ApiAccountSection DefaultProvider="ApiAccountProvider">
      <providers>
        <add name="ApiAccountProvider" connectionName="DFleetSQL" type="BusinessProvider.ApiAccountProvider, BusinessProvider" />
      </providers>
    </ApiAccountSection>
  </apiaccount.provider>
  <account.provider>
    <AccountSection DefaultProvider="AccountProvider">
      <providers>
        <add name="AccountProvider" connectionName="DFleetSQL" type="BusinessProvider.AccountProvider, BusinessProvider" />
      </providers>
    </AccountSection>
  </account.provider>
  <cars.provider>
    <CarsSection DefaultProvider="CarsProvider">
      <providers>
        <add name="CarsProvider" connectionName="DFleetSQL" type="BusinessProvider.CarsProvider, BusinessProvider" />
      </providers>
    </CarsSection>
  </cars.provider>
  <comunicazioni.provider>
    <ComunicazioniSection DefaultProvider="ComunicazioniProvider">
      <providers>
        <add name="ComunicazioniProvider" connectionName="DFleetSQL" type="BusinessProvider.ComunicazioniProvider, BusinessProvider" />
      </providers>
    </ComunicazioniSection>
  </comunicazioni.provider>
  <contratti.provider>
    <ContrattiSection DefaultProvider="ContrattiProvider">
      <providers>
        <add name="ContrattiProvider" connectionName="DFleetSQL" type="BusinessProvider.ContrattiProvider, BusinessProvider" />
      </providers>
    </ContrattiSection>
  </contratti.provider>
  <cron.provider>
    <CronSection DefaultProvider="CronProvider">
      <providers>
        <add name="CronProvider" connectionName="DFleetSQL" type="BusinessProvider.CronProvider, BusinessProvider" />
      </providers>
    </CronSection>
  </cron.provider>
  <filetracciati.provider>
    <FileTracciatiSection DefaultProvider="FileTracciatiProvider">
      <providers>
        <add name="FileTracciatiProvider" connectionName="DFleetSQL" type="BusinessProvider.FileTracciatiProvider, BusinessProvider" />
      </providers>
    </FileTracciatiSection>
  </filetracciati.provider>
  <log.provider>
    <LogSection DefaultProvider="LogProvider">
      <providers>
        <add name="LogProvider" connectionName="DFleetSQL" type="BusinessProvider.LogProvider, BusinessProvider" />
      </providers>
    </LogSection>
  </log.provider>
  <login.provider>
    <LoginSection DefaultProvider="LoginProvider">
      <providers>
        <add name="LoginProvider" connectionName="DFleetSQL" type="BusinessProvider.LoginProvider, BusinessProvider" />
      </providers>
    </LoginSection>
  </login.provider>
  <multe.provider>
    <MulteSection DefaultProvider="MulteProvider">
      <providers>
        <add name="MulteProvider" connectionName="DFleetSQL" type="BusinessProvider.MulteProvider, BusinessProvider" />
      </providers>
    </MulteSection>
  </multe.provider>
  <utilitys.provider>
    <UtilitysSection DefaultProvider="UtilitysProvider">
      <providers>
        <add name="UtilitysProvider" connectionName="DFleetSQL" type="BusinessProvider.UtilitysProvider, BusinessProvider" />
      </providers>
    </UtilitysSection>
  </utilitys.provider>
  <dfleetException.provider>
    <DFleetExceptionSection DefaultProvider="DFleetExceptionProvider">
      <providers>
        <add name="DFleetExceptionProvider" connectionName="DFleetSQL" type="BusinessProvider.DFleetExceptionProvider, BusinessProvider" />
      </providers>
    </DFleetExceptionSection>
  </dfleetException.provider>
  <appSettings file="Web.Rest.config">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ActiveDirectoryManagedIdentityAuthentication" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <membership defaultProvider="DFleetMembershipProvider">
      <providers>
        <clear />
        <add name="DFleetMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DFleetSQL" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="DFleet" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="DFleetRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <clear />
        <add name="DFleetRoleProvider" type="System.Web.Security.SqlRoleProvider" applicationName="DFleet" connectionStringName="DFleetSQL" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.30.1.0" newVersion="6.30.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.30.1.0" newVersion="6.30.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.1.0" newVersion="7.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
