<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.1"/>
    <!--
    La sezione <authentication> consente di configurare 
    la modalità di autenticazione della sicurezza usata da 
    ASP.NET per identificare un utente in ingresso. 
    -->
    <authentication mode="Windows"/>
    <!--
     La sezione <customErrors> consente di configurare 
     l'operazione da eseguire in caso di errore non gestito 
     durante l'esecuzione di una richiesta. In particolare, 
     consente agli sviluppatori di configurare le pagine di errore HTML 
     in modo che vengano visualizzate al posto dell'analisi dello stack dell'errore.

     <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
       <error statusCode="403" redirect="NoAccess.htm" />
       <error statusCode="404" redirect="FileNotFound.htm" />
     </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
      La sezione system.webServer è necessaria per l'esecuzione di ASP.NET AJAX in Internet
      Information Services 7.0, ma non per le versioni precedenti di IIS.
  -->
</configuration>