<?xml version="1.0"?>
<configuration>
    <!-- Allow all roles DFleetUser  to visit "Dash" subfolder -->
    <system.web>
        <authorization>
            <allow roles="DFleetUser" />
            <allow roles="DFleetAdmin" />
            <deny users="*" />
        </authorization>
    </system.web>
</configuration>